body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 62.5%;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
header{
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100vw;
    height: 40px;
    display: grid;
    background-color: #47cfac;
    /* justify-content: end; */
    
}
.header-icons-container .icons{
    width:200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header nav{
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
header .icons span::before{
    /* los íconos se tratarán como fuentes */
    color:white;
    font-size: 30px;
}
header .nav-logo-container img{
    width: 200px;

}
header .profile-link a{
    font-size: 1.2rem;
    color: black;
    border-bottom: 1px solid black;
    margin-right: 50px;

}
.home-main{
    width: 100vw;
    height: 100%;
    background-image: url('../asset/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main .main-title-container{
    height: 55%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 40px;
    place-items: center;
    align-content: center;
    /* margin-top: 40px; */
    
}

.home-main .main-title-container p{
    grid-column: 2/6;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
}
.home-main .main-title-container button{
    grid-column: 2/6;
    grid-row: 2/3;
    align-self: start;
    padding: 10px;
    background-color: #47cfac;
    font-size: 1rem;


}